<footer
  class="bg-gradient-to-t from-[#06b6d4] via-[#06b6d4] w-full py-20 flex flex-col items-center text-white"
>
  <div class="flex">
    <a href="https://www.instagram.com/lozanxx.off/" target="_blank">
      <img src="/insta.svg" alt="Instagram" class="w-12 h-12" />
    </a>
    <a
      href="https://www.linkedin.com/in/daniel-lozano-a4b629256/"
      target="_blank"
    >
      <img src="/linkedink.svg" alt="Linkedin" class="w-12 h-12" />
    </a>
  </div>
  <p class="font-semibold pb-4"><em>Resistir y nunca desistir</em></p>
</footer>
