---
import Aboutme from "../Aboutme.astro";
import Projects from "../Projects.astro";
import Studi from "../Studi.astro";
import Container from "../Container.astro";
---

<style></style>

<main class="px-6">
  <Container>
    <Aboutme />
    <Studi />
    <Projects />
  </Container>
</main>
