---
import Aboutme from "../Aboutme.astro";
import Projects from "../Projects.astro";
import Studi from "../Studi.astro";
---

<style></style>

<main class="px-12">
  <div class="w-full mr-auto ml-auto">
    <Aboutme />
    <Projects />
    <Studi />
    <section>Skills</section>
  </div>
</main>
