---
import { actual, futuras_ti } from '../data/icons.json'
import TableTics from './TableTics.astro'
---

<section class="w-full md:flex rounded-md mb-12 dark:text-white">
  <div class="flex flex-col flex-1 pb-6 md:pb-0 text-center">
    <h3 class="text-xl font-extrabold">Tecnologias</h3>
    <TableTics tics={actual} />
    <h3 class="text-xl font-extrabold">Proximas...</h3>
    <TableTics tics={futuras_ti} />
  </div>
  <div
    class="bg-cyan-500 p-6 flex flex-col flex-1 justify-center rounded-lg text-slate-800"
  >
    <h3 class="text-2xl font-extrabold text-center pb-4">Acerca de mi</h3>
    <p class="mb-8">
      Soy una persona autodidacta que siempre está en busca de nuevas
      oportunidades para mejorar mis habilidades en el mundo del desarrollo de
      software. Con un enfoque positivo y una actitud motivada, siempre estoy
      listo para enfrentar nuevos desafíos.
    </p>
    <p class="mb-8">
      La programación es uno de mis hobbies favoritos, lo que me permite
      aprender y nunca darme por vencido en el mundo de las Tic's. Continuamente
      adquiero nuevas tecnologías y las aplico en mi proceso de aprendizaje
      diario, lo que me permite mejorar día a día.
    </p>
    <p class="mb-8">
      Me encantaría poner en práctica mis habilidades adquiridas en proyectos
      emocionantes y desafiantes, ¡así que no dudes en contactarme para
      colaborar juntos en el desarrollo de nuevas ideas!
    </p>
    <div>
      <h4 class="text-xl font-extrabold pb-4">Nacionalidad</h4>
      <p>
        <em>● Bogota - Colombia</em>
      </p>
    </div>
  </div>
</section>
