---
import { actual, futuras_ti } from "../data/icons.json";
import TableTics from "./TableTics.astro";
---

<section class="p-4 w-full md:flex rounded-md mb-12">
  <div class="flex-1 pb-6 md:pb-0">
    <h3 class="text-center text-xl font-bold">Tecnologias</h3>
    <TableTics tics={actual} />
    <h3 class="text-center text-xl font-bold">Proximas...</h3>
    <TableTics tics={futuras_ti} />
  </div>
  <div
    class="flex-1 bg-cyan-500 rounded-lg p-6 flex flex-col justify-center my-8"
  >
    <h3 class="text-center font-bold text-2xl pb-4">Acerca de mi</h3>
    <p class="mb-8">
      Soy una persona autodidacta con muchas de aprender cosas nuevas. Mejorando
      mis habilidades en el mundo del desarrollo de software, siempre contando
      con buen animo y actitud.
    </p>
    <p class="mb-8">
      Una de mis hobbies favoritos es la programación. Asi con el fin de
      aprender y nunca desistir en el mundo de las Tic's, pudiendo mejorar dia a
      dia, cosas nuevas que voy adquiriendo en el proceso.
    </p>
    <p class="mb-8">
      Con ganas de mover las manitas en proyectos nuevos para poner a prueba las
      habilidades adquiridas.
    </p>
    <div>
      <h5 class="text-xl font-semibold">Nacionalidad</h5>
      <p>
        <em>● Bogota - Colombia</em>
      </p>
    </div>
  </div>
</section>
