---
import ImageMe from '/me.png'
---

<section
  class="flex flex-col justify-center items-center my-28 rounded-lg bg-cyan-500"
>
  <div class="w-full md:flex-row flex flex-col">
    <div
      class="w-full flex flex-col flex-1 justify-center items-center text-center rounded-lg py-4 z-30"
    >
      <div class="flex items-center gap-x-2">
        <div class="flex">
          <a
            href="https://www.linkedin.com/in/daniel-lozano11/"
            target="_blank"
          >
            <img src="/linkedink.svg" alt="Linkedin" class="w-10" />
          </a>
          <a
            class="text-white"
            href="https://github.com/lozandaniel"
            target="_blank"
          >
            <img src="/actuales_ti/github.svg" alt="Github" class="w-10" />
          </a>
        </div>
        <button>
          <a
            href="#"
            target="_blank"
            class="relative inline-flex items-center justify-start px-6 py-2 overflow-hidden transition-all bg-white rounded hover:bg-white group"
          >
            <span
              class="w-48 h-48 rounded rotate-[-40deg] bg-cyan-700 absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
            ></span>
            <span
              class="relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white flex items-center font-semibold"
              >Ver mi CV <svg
                aria-hidden="true"
                class="w-5 h-5 ml-2 -mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </a>
        </button>
      </div>
      <h1
        class="max-sm:text-4xl sm:text-5xl md:text-7xl xl:text-8xl text-center font-bold text-white tracking-tighter md:mb-6 mb-0 -z-10"
      >
        Daniel Lozano
        <span class="text-black animate-text" id="dev-title">Developer</span>
      </h1>
      <nav class="sm:block hidden">
        <ul
          class="flex list-none items-center m-0 p-0 gap-3 [&>li>a:hover]:text-black font-medium text-[#434343] mb-2"
        >
          <li>
            <a href="#skills">Skills</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="#estudio">Estudio</a>
          </li>
        </ul>
      </nav>
    </div>
    <div
      class="w-full h-auto bg-zinc-600 flex flex-1 items-center justify-center py-10 rounded-r-lg"
    >
      <img
        src={ImageMe}
        alt="Foto mía."
        class="w-[40%] h-auto bg-no-repeat bg-center bg-cover"
      />
    </div>
  </div>
</section>
