---

---

<section class="bg-yellow-500">
  <div>
    <h3>Projects</h3>
    <div>
      <picture>
        <img src="" alt="" />
      </picture>
      <h3>Rick and Morty API</h3>
      <p>
        Es una pagina web la cual se consumio la API de la pagina de Rick and
        Morty para obtener una lista de personajes.
      </p>
      <div>
        <h3>Tecnologias utililizadas.</h3>
        <div>
          
        </div>
      </div>
    </div>
  </div>
</section>
