<section>
  <div>
    <h2 class="text-2xl font-semibold text-center">Estudio</h2>
    <div
      class="bg-zinc-700 rounded-md p-4 grid grid-cols-2 items-center justify-center md:row-span-2 md:grid-flow-col"
    >
      <img
        src="../images/sena-logo.png"
        alt="Logo Sena"
        class="w-2/5 h-auto max-w-[120px] max-h-auto m-auto md:row-span-2"
      />
      <h3 class="font-semibold text-lg leading-6 flex flex-col md:col-span-1">
        Institucion educativa Sena
        <span class="text-xs text-cyan-400 top-[20px]"
          >Septiembre 2022 - Actualmente</span
        >
      </h3>
      <p class="py-4 col-span-2 md:row-span-1">
        Actualmente realizando un tecnologo de analisis y Desarrollo de
        Software.
      </p>
    </div>
  </div>
</section>
