<section id="estudio" class="pb-20">
  <h2 class="text-2xl font-bold text-center py-6">Estudio</h2>
  <article
    class="shadow-3xl rounded-xl p-4 flex items-center justify-center flex-col xl:flex-row xl:justify-start"
  >
    <div class="w-full xl:w-1/4">
      <img
        src="/sena_logo.svg"
        alt="Logo Sena"
        class="w-2/6 h-auto max-w-[100px] max-h-auto m-auto"
      />
    </div>
    <div class="xl:w-3/4">
      <h3 class="font-semibold text-lg leading-6 flex flex-col py-2">
        SENA: Servicio Nacional de Aprendizaje
        <span class="text-xs text-cyan-500 top-[20px]"
          >Septiembre 2022 - Actualmente</span
        >
      </h3>
      <p>
        Me encuentro estudiando en la institucion <em>SENA</em>- <strong>
          ADSO(Analisis y Desarrollo de Software)</strong
        >. Mediante lo que eh cursado eh adquirido nuevas habilidades de
        arquitectura de software y manejo en la fase de analisis de proyectos.
        Como idea manejo un proyecto junto a mi equipo para la realizacion de un
        software para empresas <strong>'APP Integral'</strong>.
      </p>
    </div>
  </article>
</section>
