<section>
  <h2 class="text-2xl font-bold text-center py-6">Estudio</h2>
  <div class="bg-zinc-700/50 rounded-md p-4">
    <div
      class="flex items-center justify-center flex-col xl:flex-row xl:justify-start"
    >
      <div class="w-full xl:w-1/4">
        <img
          src="../images/sena-logo.png"
          alt="Logo Sena"
          class="w-2/6 h-auto max-w-[100px] max-h-auto m-auto"
        />
      </div>
      <div class="xl:w-3/4">
        <h3 class="font-semibold text-lg leading-6 flex flex-col py-2">
          SENA: Servicio Nacional de Aprendizaje
          <span class="text-xs text-cyan-400 top-[20px]"
            >Septiembre 2022 - Actualmente</span
          >
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quibusdam illo asperiores consectetur eum, eligendi rem excepturi
          animi, laborum officia fugit porro enim fuga rerum eaque.
          Exercitationem aperiam natus ipsum.
        </p>
      </div>
    </div>
  </div>
</section>
