---
const { tics } = Astro.props
---

<ul
  class="w-1/2 m-auto grid grid-cols-3 py-4 place-items-center justify-center xl:grid-cols-4 [&>li:hover]:scale-125"
>
  {
    tics.map((icon) => (
      <li class="group flex flex-col items-center my-1 transition">
        <img
          class="w-12 group-hover:drop-shadow-[0px_0px_3px_#fff] drop-shadow-[0px_0px_1px_#fff]   h-10 aspect-square"
          src={icon.image}
          alt={icon.title}
        />
        <span class="capitalize text-xs">{icon.title}</span>
      </li>
    ))
  }
</ul>
